<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
    <h2>Добро пожаловать в наш католог!</h2>
    <hr size="2", color="green">
     <ul>
        <li>
            <h4>{{ cat1 }}</h4>
            <button><a href="/platform/bag"><strong>КУПИТЬ</strong></a></button>
        </li>
         <li>
            <h4>{{ cat2 }}</h4>
            <button><a href="/platform/bag"><strong>КУПИТЬ</strong></a></button>
        </li>
         <li>
            <h4>{{ cat3 }}</h4>
            <button><a href="/platform/bag"><strong>КУПИТЬ</strong></a></button>
        </li>
         <li>
            <h4>{{cat4}}</h4>
            <button><a href="/platform/bag"><strong>КУПИТЬ</strong></a></button>
        </li>
    </ul>
    <p>
        <button><a href="/platform">Вернуться на главную</a></button>
    </p>

</body>
</html>